<section *ngIf="products">
  <div class="group-btn" style="display: flex;justify-content: center; " >
    <a href="" class="btn-main" routerLink="/breakfast" >Breakfast</a>
    <a href=""class="btn-main"  routerLink="/lunch">Lunch</a>
    <a href=""class="btn-main" routerLink="/meals">Meals</a>
    <a href=""class="btn-main"  routerLink="/sides">Sides</a>
  </div>
  <div class="card" style="width: 190px;">
    <img id="profile-img" src="https://i.postimg.cc/FRW6tpTD/unnamed.jpg" class="profile-img" />
    <div class="card-body">
      <div class="card-text">
        <h3 style="display: flex;  justify-content: center;">Coca-Cola</h3>
        <h3 style="display: flex;  justify-content: center;">R:20</h3>
      </div>
    </div>
  </div>
 
</section>



